USE [sqltutorial]
GO
/****** Object:  StoredProcedure [dbo].[Temp_Employee]    Script Date: 04/08/2026 17:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[Temp_Employee]
@JobTitle nvarchar(100)
as
Create table #temp_employee3(
JobTitle varchar(100),
EmployeePerJob int,
Avgage int,
Avgsalary int)

insert into #temp_employee3
select JobTitle, count(JobTitle), avg(Age), avg(Salary)
from sqltutorial..EmployeeDemographics
join sqltutorial..EmployeeSalary
	on sqltutorial..EmployeeDemographics.EmployeeID = sqltutorial..EmployeeSalary.EmployeeID
where JobTitle = @JobTitle
group by JobTitle

select *
from #temp_employee3